html {
	font-family: Verdana,Arial,sans-serif; font-size: 1.0em;
}

body {
	background-color: #F2F7F7;
}

a {
	color:#245199;
	text-decoration:none;
}

a:hover {
	text-decoration:underline;
}

.text_center {
	text-align: center;
}

.text_right {
	text-align: right;
}

.result_score {
	vertical-align: middle;
	height: 10px;
	background-color: #CC1D13;
	display: inline-block;
	float: right;
}

div.result_detail {
	font-size: 0.8em;
}

.result_detail em {
	color: #6D97BF;
}

.dataTables_info {
	padding-top: 0;
}
.dataTables_paginate {
	padding-top: 0;
}
.css_right {
	float: right;
}

.spacer {
	clear: both;
	height: 1em;
	width: 100%;
}

#app_nav {
	width: 100%;
	height: 30px;
}

#app_nav ul {
	margin: 0;
	padding: 0;
	white-space: nowrap;
}

#app_nav ul li {
	display: inline;
	height: 30px;
	float: left;
	list-style: none;
	margin-right: 15px;
}

#app_nav ul li a {
	text-decoration: none;
}

#app_nav  ul li a:hover {}

#app_browse_nav {
	clear: both;
}

#app_session {
	clear: both;
	float: right;
}

#app_dynamic {
	clear: both;
}	

#app_info {
	float: left;
}

#app_info .label {
	text-align: right;
	padding-right: 10px;	
/*	color: #05A;*/
}

#app_export {
	float: right;
}

#app_auth {
	width: 225px;
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: auto;
	margin-right: auto;
	border: 5px solid #246199;
	background-color: #74A1CC;
}

#app_auth table {
	padding: 15px;
	background-color: inherit;
}

#app_auth input {
	border: 1px solid black;
}

#app_auth input[type="submit"] {
	float: right;
}

#app_header {
	height: 50px;
	font-size: 2em;
	color: #246199;
	padding-top: 10px;
}

.header_title {
	float: left;
}

.header_comment {
	color: #74A1CC;
	font-size: smaller;
}

.header_action {
	float: right;
	font-size: smaller;
}

#app_logout {
	float: right;
	font-size: 0.6em;
	margin-top: 20px;
	margin-right: 10px; 
}

#app_logout a {
	text-decoration: none;
}

#app_container {
	margin: 0 auto;
	width: 95%;
	height: auto !important;
	height: 100%;
	min-height: 100%;
}

.app_bar {
	height: 25px;
}

.app_selected {
	background-color: #ECFFB3;
}

.black_italics {
	font-style: italic;
	color: #000;
}	

#app_form {
	margin-bottom: 1em;
	padding: none;
}
#app_content {
	padding: 1em 2em;
}
#app_content p {
	text-align: justify;
	padding: 0 1em;
}
div.inline-div {
	display: -moz-inline-box;
	display: inline-block;
}

span.detail {
	font-size: 0.8em;
}

span.detail_prop {
	color: #477;
}
span.detail_dlm {
	color: #477;
}
span.detail_val {
	color: #000;
}
